$primary-color: #14B8B8;
$secondary-color: #263238;
$secondary-color-alt: #334147;
$background-color: #FFFFFF;
$light: #B2C0C7;
$gray: #607480;
$extraLight: #D9D9D9;
$black: #101618;
$prefooter-background: #E7ECEE;
$secondary-light: #3E4E56;
$success: #59B959;
