@import '../../styles/variables';

.c__Button {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &.primary {
    background-color: $primary-color;
  }

  &.secondary {
    background-color: $secondary-color;
    color: $primary-color;
    border: 2px solid $primary-color;
  }
}