@import '../../styles/variables';

.c__ArticleFooter {
  max-width: 800px;
  margin: 0 auto;
  padding: 45px 0;

  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;

  p {
    color: $secondary-light;
    line-height: 1.5;
  }

  &__Visit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      color: $primary-color;
      font-weight: 600;
      svg {
        margin-top: -5px;
      }
      &:hover {
        color: $secondary-color;
      }
    }
  }
}